@font-face {
    font-family: "Quicksand Bold";
    src: url(/Fonts/Quicksand/Quicksand-Bold.ttf);
  }
  
  @font-face {
    font-family: "Quicksand Light";
    src: url(/Fonts/Quicksand/Quicksand-Light.ttf);
  }
  
  @font-face {
    font-family: "Quicksand Medium";
    src: url(/Fonts/Quicksand/Quicksand-Medium.ttf);
  }

  @font-face {
    font-family: "Quicksand Regular";
    src: url(/Fonts/Quicksand/Quicksand-Regular.ttf);
  }
